.link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-list__link {
    color: $link-color-main;
    padding: 0.25em;
}

.link-list__link:hover {
    color: $link-color-hover;
}
